<configurator>
  <connectionStrings>
    <!-- <add name="hbsis.les-sql" connectionString="Data Source=172.30.8.31;Initial Catalog=HBMDM_BRF;user=smdm;password=hbsis.smdm;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" /> -->
	<add name="hbsis.les-sql" connectionString="Data Source=10.2.1.35;Initial Catalog=HBMDM_BRF;User=smdm;Password=hbsis.smdm;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="hbsis.les-log" connectionString="mongodb://localhost:27017/LOCAL_LOG"  />
	<add name="hbsis.les-redis" connectionString="172.30.8.36:6379" /> 
  </connectionStrings>
  <connectionBus>
    <address>10.2.1.35</address>
    <user>test</user>
    <password>test</password>
    <vhost>brf-qa</vhost>
  </connectionBus>
  <appSettings>
	<add key="IntegracaoSapBrfJobIntervaloMinutos" value="1" />
    <add key="mov3r:IntegratorPath" value="C:\Integrators" />
    <add key="mov3r:CacherPath" value="C:\Mov3rPrimaria\Microservices\Cachers" />
    <add key="mov3r:CorsOrigins" value="http://localhost:3000;" />
    <add key="mov3r:wcfUserName" value="brfhomolog" />
    <add key="mov3r:wcfPassword" value="SIVEN3DQIXPS47CS2CSDQRKGT9RV4" />
    <add key="mov3r:EtaRefreshTime" value="15" />
    <add key="mov3r:EtaServiceType" value="Geo" />
    <add key="mov3r:EtaApiUrl" value="" />
    <add key="mov3r:RestartTime" value="5" />
    <add key="mov3r:RestartLimit" value="500" />
	<add key="mov3r:TrackerApiUrl" value="http://localhost:5000" />
	<add key="mov3r:EnabledGeocoding" value="false" />
	<add key="mov3r:GeocodingApiUrl" value="http://186.250.186.68/nominatim" />
  </appSettings>
  <integrations>
    <integration name="IntegracaoSapBrf">
      <config>
        <name>CustoAdicionalBrf</name>
		    <userName>hbsis</userName>
        <password>brf6230@</password>
        <url>http://web.brasilfoods.com:8101/XISOAPAdapter/MessageServlet?senderParty=&amp;senderService=BC_HB_SIS&amp;receiverParty=&amp;receiverService=&amp;interface=SI_CUSTO_ADICIONAL_FRETE_OUT&amp;interfaceNamespace=http://www.brf.com/hbsis/CUSTO_ADICIONAL_FRETE</url>
      </config>
    </integration>
  </integrations>
</configurator>