<configurator>
  <connectionStrings>
	<add name="hbsis.importer-sql" connectionString="Data Source=172.30.8.20;Initial Catalog=HBMDM_KIBON_HOM;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="hbsis.importer-log" connectionString="mongodb://localhost:27017/GE_FileImporter"  />
  </connectionStrings>
  <connectionBus>
    <address>localhost</address>
    <user>guest</user>
    <password>guest</password>
	<vhost></vhost>
  </connectionBus>
  <appSettings>
	<add key="endpointWebServiceGE" value="http://localhost:5303/WS/" />
  </appSettings>
  <integrations>
    <integration name="">
      <config>
        <name></name>
		<userName></userName>
        <password></password>
        <url></url>
      </config>
    </integration>
  </integrations>
</configurator>