<configurator>
  <connectionStrings>
	<add name="hbsis.mov3r-sql" connectionString="Data Source=(local);Initial Catalog=Mov3rPrimaria_Test;User ID=hbsis;Password=senha@123" providerName="System.Data.SqlClient" />     <add name="hbsis.mov3r-cache" connectionString="mongodb://localhost:27017/TEST_CACHE"/>
    <add name="hbsis.mov3r-log" connectionString="mongodb://localhost:27017/TEST_LOG" />
    <add name="hbsis.mov3r-posicao" connectionString="mongodb://localhost:27017/TEST_POSICAO" />
	<add name="hbsis.mov3r-tracker" connectionString="mongodb://localhost:27017/TRACKER_TEST"  />
  </connectionStrings>
  <connectionBus>
    <address>localhost</address>
    <user>guest</user>
    <password>guest</password>
  </connectionBus>
  <appSettings>
    <add key="mov3r:IntegratorPath" value="C:\Integrators" />
    <add key="mov3r:CacherPath" value="C:\Cachers" />
    <add key="mov3r:CorsOrigins" value="http://localhost:3000;" />
    <add key="mov3r:wcfUserName" value="brfhomolog" />
    <add key="mov3r:wcfPassword" value="SIVEN3DQIXPS47CS2CSDQRKGT9RV4" />
    <add key="mov3r:EtaRefreshTime" value="15" />
    <add key="mov3r:EtaServiceType" value="Geo" />
    <add key="mov3r:EtaApiUrl" value="" />
    <add key="mov3r:RestartTime" value="5" />
    <add key="mov3r:RestartLimit" value="500" />
	<add key="mov3r:TrackerApiUrl" value="" />
	<add key="mov3r:EnabledGeocoding" value="true" />
	<add key="mov3r:GeocodingApiUrl" value="http://186.250.186.68/nominatim" />

  </appSettings>
  <integrations>
    <integration name="IntegracaoCutoff">
      <config>
        <userName></userName>
        <password></password>
        <url></url>
      </config>
    </integration>
    <integration name="IntegracaoEspelhamento">
      <config>
        <name></name>
        <userName></userName>
        <password></password>
        <url></url>
      </config>
    </integration>
    <integration name="IntegracaoRisco">
      <config>
        <userName></userName>
        <password></password>
        <url></url>
      </config>
    </integration>
  </integrations>
</configurator>