<configurator>
  <connectionStrings>
	<add name="hbsis.importer-sql" connectionString="Data Source=172.30.8.20;Initial Catalog=HBMDM_BRF_HOM;Integrated Security=SSPI;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="hbsis.importer-log" connectionString="mongodb://localhost:27017/LOCAL_LOG"  />
  </connectionStrings>
  <connectionBus>
    <address>localhost</address>
    <user>guest</user>
    <password>guest</password>
  </connectionBus>
  <appSettings>
	<add key="hbsis.importer-files" value="C:\Excel\" />
  </appSettings>
</configurator>