<configurator>
  <integrations>
   <integration name="IntegracaoRastreador">	
   <config>
        <name>hbsis</name>        
        <userName>dummy</userName>
        <password>dummy</password>
        <url>http://localhost:5000/posicao</url>
        <interval>30</interval>
        <enabled>true</enabled>
      </config>
	</integration>
  </integrations>
</configurator>